.hot h2 {
  font-family: 'Nunito';
  font-variant: small-caps;
}

.product-item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}



.product-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
  box-shadow: 0px 0px 10px #ccc;
  background-color: #fff;
  margin: auto;
}

.product-img {
  width: 30%;
  padding: 10px;
}

.product-info {
  width: 70%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-price {
  font-size: 18px;
  color: #f00;
  margin-bottom: 10px;
}

.product-rating {
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-bottom: 10px;
}

.product-rating i {
  color: #ff0;
}

.rating-number {
  font-size: 14px;
  padding-left: 10px;
}

.product-description {
  font-size: 14px;
  margin-bottom: 10px;
}

.product-specifications {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  margin-bottom: 10px;
}

.specifications-title {
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.specifications-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.specification-item {
  list-style: none;
  color: black;
  width: 50%;
  padding: 5px;
}

.specification-item:hover {
  background-color: white;
}

.specification-value {
  font-weight: bold;
}

.buy-button {
  width: 100%;
  padding: 10px;
  background-color: rgb(255, 208, 0);
  color: #000;
  font-size: 18px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: 0.5s all ease;
}

.buy-button {
  background: rgb(241, 241, 241);

  color: #000000;

  border: 2px transparent;

  padding: 5px 50px;
  border-radius: 3px;

  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
}

.buy-button:hover {
  color: #fff;
  transform: scale(1.1);

}

.buy-button::after {
  content: "";
  background: #ff9100;

  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.3s ease;
}

.buy-button:hover::after {
  transition: all 0.3s ease-out;
  transform: skewX(-45deg) scale(1, 1);
}


.product-item img {
  width: 100%;
  height: auto;
}

.product-item picture {
  display: flex;
  align-items: center;
}

.product-specifications {
  display: none;
}

body {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1013%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M42.92785587355633 153.91860391986893L129.5108700188041 43.09739947460395-67.89334857170866 67.33558977462116z' fill='rgba(230%2c 230%2c 230%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1158.278%2c278.164C1179.612%2c278.669%2c1198.271%2c264.57%2c1208.51%2c245.847C1218.333%2c227.884%2c1217.097%2c206.521%2c1207.284%2c188.552C1197.003%2c169.725%2c1179.712%2c154.724%2c1158.278%2c153.861C1135.414%2c152.941%2c1112.42%2c163.976%2c1101.929%2c184.312C1092.085%2c203.394%2c1100.95%2c225.153%2c1112.003%2c243.562C1122.629%2c261.26%2c1137.641%2c277.676%2c1158.278%2c278.164' fill='rgba(230%2c 230%2c 230%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M70.047%2c628.375C116.962%2c627.091%2c151.055%2c589.808%2c175.104%2c549.505C199.96%2c507.85%2c218.358%2c459.101%2c197.061%2c415.519C173.432%2c367.164%2c123.858%2c333.56%2c70.047%2c334.517C17.606%2c335.45%2c-25.08%2c373.419%2c-49.373%2c419.903C-71.827%2c462.868%2c-69.561%2c513.475%2c-45.464%2c555.541C-21.214%2c597.874%2c21.278%2c629.71%2c70.047%2c628.375' fill='rgba(230%2c 230%2c 230%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1364.63966936999 348.88082576835063L1317.4884059636256 247.76461508263304 1216.372195277908 294.91587848899746 1263.5234586842726 396.03208917471505z' fill='rgba(230%2c 230%2c 230%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1406.95%2c627.641C1438.794%2c626.674%2c1470.29%2c616.261%2c1487.548%2c589.481C1506.305%2c560.375%2c1511.079%2c522.812%2c1493.866%2c492.767C1476.567%2c462.571%2c1441.729%2c450.018%2c1406.95%2c448.796C1369.43%2c447.478%2c1328.415%2c454.271%2c1308.772%2c486.265C1288.448%2c519.368%2c1295.247%2c562.742%2c1317.404%2c594.647C1336.851%2c622.651%2c1372.872%2c628.676%2c1406.95%2c627.641' fill='rgba(230%2c 230%2c 230%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1095.70069156035 376.5428425524691L1068.5067252913932 471.37947330415136 1163.3433560430753 498.57343957310815 1190.5373223120323 403.7368088214259z' fill='rgba(230%2c 230%2c 230%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1036.518218405219 232.23502422996907L1029.1781803977306 369.78302354801303 1137.4016677099808 316.99890193758455z' fill='rgba(230%2c 230%2c 230%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M528.6591438084199 306.06309860554444L573.1110468103778 405.9037074179652 700.64600852803 289.3055485088179z' fill='rgba(230%2c 230%2c 230%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M781.1086048980387 577.3903922906181L727.2703918481265 471.7269497612359 621.6069493187442 525.5651628111482 675.4451623686565 631.2286053405304z' fill='rgba(230%2c 230%2c 230%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1222.1505346442666 34.916628286277344L1121.075187993584 50.9253904961542 1137.083950203461 152.00073714683674 1238.1592968541433 135.99197493695988z' fill='rgba(230%2c 230%2c 230%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M233.14964115601873 460.40776922844157L346.41196853367285 440.5478437884935 283.1529242635763 362.42942989422636z' fill='rgba(230%2c 230%2c 230%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1378.922%2c390.945C1431.996%2c394.541%2c1481.07%2c361.297%2c1506.857%2c314.769C1531.896%2c269.592%2c1528.536%2c214.135%2c1501.21%2c170.303C1475.402%2c128.907%2c1427.704%2c109.421%2c1378.922%2c109.56C1330.411%2c109.698%2c1280.642%2c128.181%2c1257.832%2c170.995C1236.025%2c211.926%2c1255.492%2c258.627%2c1277.859%2c299.255C1301.371%2c341.963%2c1330.282%2c387.65%2c1378.922%2c390.945' fill='rgba(230%2c 230%2c 230%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M789.1955978091381 208.77765991447922L664.0384548519891 193.28920520941088 705.3356869459624 295.5034414476859z' fill='rgba(230%2c 230%2c 230%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1451.095252055901 104.38870409292419L1492.7979125210493-23.95888747707191 1364.4503209510533-65.66154794222022 1322.7476604859048 62.68604362777589z' fill='rgba(230%2c 230%2c 230%2c 1)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1013'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}

.product-name {
  font-size: 15px;
}

h1 {
  font-family: 'Nunito';
  font-variant: small-caps;
  margin-top: 20px;
}

@media screen and (min-width: 700px) {

  .product-item img {
    width: 100%;
    height: auto;
  }

  .product-name {
    font-size: 25px;
  }

  .product-specifications {
    display: flex;
  }

  .buy-button {
    background-color: #ff0;
    border: 5px transparent;
    border-radius: 10px;
  }

}